
  .avatar1 {
    margin: 10 !important;
    width: 7.5vw !important; 
    height: 15vh !important; 
    border: 1px solid black !important;
  }
.root1 {
  padding: 20px;
  text-align: justify;
}
.button1 {
  float: right;
}
.text {
  float: center;
  margin-left: 60px;
  font-size: 1.5em;
}
.card1 {
  width: 40vw !important;
}

.flex-container
{
    display:flex;
    /*padding: 20px;*/
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content:center; */
}
.flex-item
{   
    padding-left: 70px; 
    padding-right: 400px;
}
.flex-item1
{
  padding-left: 70px;
}
