.root{
      flex-grow: 1;
    }
    
.grow {
      flex-grow: 1;
    }
    
.menuButton {
      margin-left: -12;
      margin-right: 20;
}
    
.lnk {
      text-decoration: none;
      padding-left: 1em;
      color: white;
}
.heading{
      text-align: right !important;
      margin-left: 78% !important;
}

@media only screen and (max-width: 1000px) {
      .heading {
          margin-left: 0 !important;
      }
  }
